@font-face {
   font-family: "Cinzel Bold";
   src: url("fonts/Cinzel-Bold.eot") format("embedded-opentype"), url("fonts/Cinzel-Bold.otf") format("opentype"), url("fonts/Cinzel-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Century Gothic";
   src: url("fonts/Century Gothic.eot") format("embedded-opentype"), url("fonts/Century Gothic.TTF") format("truetype"), url("fonts/Century Gothic.woff") format("woff"), url("fonts/Century Gothic.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Century Gothic";
   src: url("fonts/Century Gothic Bold.eot") format("embedded-opentype"), url("fonts/Century Gothic Bold.TTF") format("truetype"), url("fonts/Century Gothic Bold.woff") format("woff"), url("fonts/Century Gothic Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Century Gothic";
   src: url("fonts/Century Gothic Bold Italic.eot") format("embedded-opentype"), url("fonts/Century Gothic Bold Italic.TTF") format("truetype"), url("fonts/Century Gothic Bold Italic.woff") format("woff"), url("fonts/Century Gothic Bold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Century Gothic";
   src: url("fonts/Century Gothic Italic.eot") format("embedded-opentype"), url("fonts/Century Gothic Italic.TTF") format("truetype"), url("fonts/Century Gothic Italic.woff") format("woff"), url("fonts/Century Gothic Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Swis721 Cn BT";
   src: url("fonts/Swiss 721 Condensed BT.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Swis721 Cn BT";
   src: url("fonts/Swiss 721 Bold Condensed BT.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Swis721 Cn BT";
   src: url("fonts/Swiss 721 Bold Condensed Italic BT.ttf") format("truetype");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Swis721 Cn BT";
   src: url("fonts/Swiss 721 Condensed Italic BT.ttf") format("truetype");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Open Sans Semibold";
   src: url("fonts/Open-Sans-Semibold.eot") format("embedded-opentype"), url("fonts/Open-Sans-Semibold.ttf") format("truetype"), url("fonts/Open-Sans-Semibold.woff") format("woff"), url("fonts/Open-Sans-Semibold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Open Sans Semibold";
   src: url("fonts/Open-Sans-Semibold-Italic.eot") format("embedded-opentype"), url("fonts/Open-Sans-Semibold-Italic.ttf") format("truetype"), url("fonts/Open-Sans-Semibold-Italic.woff") format("woff"), url("fonts/Open-Sans-Semibold-Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Otama.ep";
   src: url("fonts/Otama-ep.eot") format("embedded-opentype"), url("fonts/Otama-ep.otf") format("opentype"), url("fonts/Otama-ep.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Antonio";
   src: url("fonts/Antonio-Bold.eot") format("embedded-opentype"), url("fonts/Antonio-Bold.ttf") format("truetype"), url("fonts/Antonio-Bold.woff") format("woff"), url("fonts/Antonio-Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Antonio";
   src: url("fonts/Antonio-Light.eot") format("embedded-opentype"), url("fonts/Antonio-Light.ttf") format("truetype"), url("fonts/Antonio-Light.woff") format("woff"), url("fonts/Antonio-Light.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Antonio";
   src: url("fonts/Antonio-Regular.eot") format("embedded-opentype"), url("fonts/Antonio-Regular.ttf") format("truetype"), url("fonts/Antonio-Regular.woff") format("woff"), url("fonts/Antonio-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}